@keyframes rotateIn
  0%
    transform-origin center center
    transform rotate(-360deg)
  50%
    transform-origin center center
    transform rotate(0deg)
  100%
    transform-origin center center
    transform rotate(-360deg)

@keyframes fallDown
  0%
    transform translateY(0) 
  30%
    transform translateY(((nav-circlesize / 2) + 25px) / 1.5)
  50%
    transform translateY((nav-circlesize / 2) + 25px)
  70%
    transform translateY((nav-circlesize / 2) + 25px - 20px)
  75%
    transform translateY((nav-circlesize / 2) + 25px)
  80%
    transform translateY((nav-circlesize / 2) + 25px - 10px)
  85%
    transform translateY((nav-circlesize / 2) + 25px)
  90%
    transform translateY((nav-circlesize / 2) + 25px - 5px)
  100%
    transform translateY((nav-circlesize / 2) + 25px)

@keyframes tilt
  0%
    transform rotate(0)
  100%
    transform rotate(-10deg)
