@keyframes rotateIn
  0%
    transform-origin center center
    transform rotate(-360deg)
  50%
    transform-origin center center
    transform rotate(0deg)
  100%
    transform-origin center center
    transform rotate(-360deg)

@keyframes fallDown
  0%
    transform translateY(0)
  15%
    transform translateY(((nav-circlesize / 2) + 25px) / 1.5)
  25%
    transform translateY((nav-circlesize / 2) + 25px)
  35%
    transform translateY((nav-circlesize / 2) + 25px - 20px)
  38%
    transform translateY((nav-circlesize / 2) + 25px)
  40%
    transform translateY((nav-circlesize / 2) + 25px - 10px)
  43%
    transform translateY((nav-circlesize / 2) + 25px)
  45%
    transform translateY((nav-circlesize / 2) + 25px - 5px)
  50%
    transform translateY((nav-circlesize / 2) + 25px) rotate(-360deg)
  100%
    transform translate(-300px,(300px * (sin(10 * PI / 180) / cos(10 * PI / 180))) + (nav-circlesize / 2) - 29px) rotate(0deg)

@keyframes tilt
  0%
    transform rotate(0)
  100%
    transform rotate(-10deg)
