@keyframes rotateIn
  0%
    transform-origin center center
    transform rotate(-360deg)
  50%
    transform-origin center center
    transform rotate(0deg)
  100%
    transform-origin center center
    transform rotate(-360deg)

@keyframes fallDown
  0%
    margin-top 0
    margin-bottom 0
  30%
    margin-top (((nav-circlesize / 2) + 25px) / 2)
    margin-bottom -25px
  60%
    margin-top (nav-circlesize / 2) + 25px
    margin-bottom -25px
  70%
    margin-top (nav-circlesize / 2) + 25px - 30px
    margin-bottom -25px
  75%
    margin-top (nav-circlesize / 2) + 25px
    margin-bottom -25px
  80%
    margin-top (nav-circlesize / 2) + 25px - 20px
    margin-bottom -25px
  85%
    margin-top (nav-circlesize / 2) + 25px
    margin-bottom -25px
  90%
    margin-top (nav-circlesize / 2) + 25px - 10px
    margin-bottom -25px
  95%
    margin-top (nav-circlesize / 2) + 25px
    margin-bottom -25px
  97%
    margin-top (nav-circlesize / 2) + 25px - 3px
    margin-bottom -25px
  100%
    margin-top (nav-circlesize / 2) + 25px
    margin-bottom -25px
