vendors = official webkit moz o ms

allvendors(prop, args...)
  for vendor in vendors
    if vendor == official
      {prop}: args
    else
      -{vendor}-{prop}: args

margin-before()
  allvendors margin-before arguments

margin-after()
  allvendors margin-after arguments

border-radius()
  allvendors border-radius arguments

animation()
  allvendors animation arguments

transform()
  allvendors transform arguments

transform-origin()
  allvendors transform-origin arguments

calculate(prop, val)
  for vendor in vendors
    if vendor == official
      {prop}: calc(val)
    else
      {prop}: unquote(join('','-',vendor,unquote('-calc('),val,')'))

full-circle(diameter)
  height diameter
  width diameter
  border-radius (diameter/2)
