background-color = #e5e9ea
header-color = #657089
orange = #D15600
green = #73880A
blue =  #3F4C6B
red = #D01F3C
circle-colors = orange green blue red

nav-circlesize = 230px
nav-fontsize = 170%
nav-overlap = 50px

@import "normalize.css"
@import "960_12_col.css"
@import "mixin"
@import "animations"

body 
  margin 0 
  padding 0
  height 100% 
  background background-color url(../img/bg.png)
  font-family 'Ubuntu', sans-serif
  > header
    font-family 'Permanent Marker', cursive
    margin-top 10%
    > hgroup
      > h1
        color header-color
      > h2
        color lighten(header-color, 30)
      > h1
      > h2
        margin-before 0
        margin-after 0
  
  > nav.overlap.grid_12
    margin-top 3em
    padding-left (nav-overlap / 2) 
    padding-bottom 25px
    height nav-circlesize
    width nav-circlesize * 4 + 12px * 3 + (nav-overlap / -2) * 4
    border-bottom 1px black solid
    &.active
      width nav-circlesize * 4 + 12px * 3 + (nav-overlap / -2) * 3
      animation tilt 1.5s linear
      animation-delay 2.5s
      animation-fill-mode both
      
    > a
      font-size nav-fontsize
      color white
      text-align center
      text-transform lowercase
      text-decoration none
      line-height nav-circlesize
      full-circle nav-circlesize
      opacity .8
      for row in 1 2 3 4
        &:nth-child({row})
          z-index 5 - row
          background-color circle-colors[row - 1]
      &:hover
        z-index 5
      &.overlap
        margin-left (nav-overlap / -2) 
      &.active.grid_3
        //position absolute
        width (nav-circlesize / 2)
        height (nav-circlesize / 2)
        line-height (nav-circlesize / 2)
        font-size (nav-fontsize / 2)
        margin-left (nav-circlesize / 4) + (nav-overlap / -2)
        margin-right (nav-circlesize / 4) + 12px
        transition-property width,height,line-height,font-size,margin-left,margin-right
        animation fallDown 1.5s linear
        animation-delay 0.5s
        animation-fill-mode forwards
        > span
          animation rotateIn 3s linear
          &:hover
            animation rotateIn 2s linear

      > span
        height 100%
        width 100%
        position absolute
        top 0
        left 0
        background-image url(../img/hover-circle.png)
        background-repeat no-repeat
        background-size 100%
        &:hover
          animation rotateIn 2s linear

.animated
  transition-duration 1s
  transition-timing-function ease
  transition-delay 0s 
