article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],/* 1 */,input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
body{min-width:1020px}
.container_12{margin-left:auto;margin-right:auto;width:1020px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin-left:13px;margin-right:12px}
.push_1,.push_2,.push_3,.push_4,.push_5,.push_6,.push_7,.push_8,.push_9,.push_10,.push_11,.push_12,.pull_1,.pull_2,.pull_3,.pull_4,.pull_5,.pull_6,.pull_7,.pull_8,.pull_9,.pull_10,.pull_11,.pull_12{position:relative}
.alpha{margin-left:0}
.omega{margin-right:0}
.container_12 .grid_1{width:60px}
.container_12 .grid_2{width:145px}
.container_12 .grid_3{width:230px}
.container_12 .grid_4{width:315px}
.container_12 .grid_5{width:400px}
.container_12 .grid_6{width:485px}
.container_12 .grid_7{width:570px}
.container_12 .grid_8{width:655px}
.container_12 .grid_9{width:740px}
.container_12 .grid_10{width:825px}
.container_12 .grid_11{width:910px}
.container_12 .grid_12{width:995px}
.container_12 .prefix_1{padding-left:85px}
.container_12 .suffix_1{padding-right:85px}
.container_12 .push_1{left:85px}
.container_12 .pull_1{left:-85px}
.container_12 .prefix_2{padding-left:170px}
.container_12 .suffix_2{padding-right:170px}
.container_12 .push_2{left:170px}
.container_12 .pull_2{left:-170px}
.container_12 .prefix_3{padding-left:255px}
.container_12 .suffix_3{padding-right:255px}
.container_12 .push_3{left:255px}
.container_12 .pull_3{left:-255px}
.container_12 .prefix_4{padding-left:340px}
.container_12 .suffix_4{padding-right:340px}
.container_12 .push_4{left:340px}
.container_12 .pull_4{left:-340px}
.container_12 .prefix_5{padding-left:425px}
.container_12 .suffix_5{padding-right:425px}
.container_12 .push_5{left:425px}
.container_12 .pull_5{left:-425px}
.container_12 .prefix_6{padding-left:510px}
.container_12 .suffix_6{padding-right:510px}
.container_12 .push_6{left:510px}
.container_12 .pull_6{left:-510px}
.container_12 .prefix_7{padding-left:595px}
.container_12 .suffix_7{padding-right:595px}
.container_12 .push_7{left:595px}
.container_12 .pull_7{left:-595px}
.container_12 .prefix_8{padding-left:680px}
.container_12 .suffix_8{padding-right:680px}
.container_12 .push_8{left:680px}
.container_12 .pull_8{left:-680px}
.container_12 .prefix_9{padding-left:765px}
.container_12 .suffix_9{padding-right:765px}
.container_12 .push_9{left:765px}
.container_12 .pull_9{left:-765px}
.container_12 .prefix_10{padding-left:850px}
.container_12 .suffix_10{padding-right:850px}
.container_12 .push_10{left:850px}
.container_12 .pull_10{left:-850px}
.container_12 .prefix_11{padding-left:935px}
.container_12 .suffix_11{padding-right:935px}
.container_12 .push_11{left:935px}
.container_12 .pull_11{left:-935px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
@keyframes rotateIn{0%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
50%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0)}
100%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
}@-webkit-keyframes rotateIn{0%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
50%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0)}
100%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
}@-moz-keyframes rotateIn{0%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
50%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0)}
100%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
}@-o-keyframes rotateIn{0%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
50%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0)}
100%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
}@-ms-keyframes rotateIn{0%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
50%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0)}
100%{transform-origin:center center;-webkit-transform-origin:center center;-moz-transform-origin:center center;-o-transform-origin:center center;-ms-transform-origin:center center;transform:rotate(-360deg);-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);-ms-transform:rotate(-360deg)}
}body{margin:0;padding:0;height:100%;background:#e5e9ea url("../img/bg.png");font-family:'Ubuntu',sans-serif;}
body > header{font-family:'Permanent Marker',cursive;margin-top:10%;}
body > header > hgroup > h1{color:#657089}
body > header > hgroup > h2{color:#bac0cd}
body > header > hgroup > h1,body > header > hgroup > h2{margin-before:0;-webkit-margin-before:0;-moz-margin-before:0;-o-margin-before:0;-ms-margin-before:0;margin-after:0;-webkit-margin-after:0;-moz-margin-after:0;-o-margin-after:0;-ms-margin-after:0}
body > nav.overlap.grid_12{margin-top:3em;padding-bottom:25px;height:230px;width:881px;border-bottom:1px #000 solid;}
body > nav.overlap.grid_12.active > a{border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;-ms-border-radius:0;height:35px;line-height:35px;margin-right:0;width:220.25px;}
body > nav.overlap.grid_12.active > a.overlap{margin-left:0}
body > nav.overlap.grid_12.active > a.active{border-bottom:5px #000 solid}
body > nav.overlap.grid_12.active > a::after{content:normal}
body > nav.overlap.grid_12 > a{font-size:170%;color:#fff;text-align:center;text-transform:lowercase;text-decoration:none;line-height:230px;height:230px;width:230px;border-radius:115px;-webkit-border-radius:115px;-moz-border-radius:115px;-o-border-radius:115px;-ms-border-radius:115px;transition-property:height,border-radius,line-height;-webkit-transition-property:height,border-radius,line-height;-moz-transition-property:height,border-radius,line-height;-o-transition-property:height,border-radius,line-height;-ms-transition-property:height,border-radius,line-height;opacity:.8;}
body > nav.overlap.grid_12 > a:nth-child(1){z-index:4;background-color:#d15600}
body > nav.overlap.grid_12 > a:nth-child(2){z-index:3;background-color:#73880a}
body > nav.overlap.grid_12 > a:nth-child(3){z-index:2;background-color:#3f4c6b}
body > nav.overlap.grid_12 > a:nth-child(4){z-index:1;background-color:#d01f3c}
body > nav.overlap.grid_12 > a:hover{z-index:5}
body > nav.overlap.grid_12 > a.overlap{margin-left:-25px;}
body > nav.overlap.grid_12 > a.overlap.alpha{margin-left:0}
body > nav.overlap.grid_12 > a::after{content:"";height:100%;width:100%;position:absolute;top:0;left:0;background-image:url("../img/hover-circle.png");background-repeat:no-repeat;background-size:100%}
body > nav.overlap.grid_12 > a:hover::after{animation:rotateIn 2s linear;-webkit-animation:rotateIn 2s linear;-moz-animation:rotateIn 2s linear;-o-animation:rotateIn 2s linear;-ms-animation:rotateIn 2s linear}
.animated{transition-duration:1s;-webkit-transition-duration:1s;-moz-transition-duration:1s;-o-transition-duration:1s;-ms-transition-duration:1s;transition-timing-function:ease;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;-ms-transition-timing-function:ease;transition-delay:0;-webkit-transition-delay:0;-moz-transition-delay:0;-o-transition-delay:0;-ms-transition-delay:0}
